/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #fcf7f8;
    line-height: 1.6;
}

/* ================= HEADER ================= */

header {
    background-color: #4e8098;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #000; /* TripTales a preto */
}

.logo img {
    height: 45px;
    width: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #fcf7f8;
    text-decoration: none;
    font-size: 0.95rem;
}

nav ul li a:hover {
    color: #334f5c;
}


/* ================= FEED ================= */

.feed-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}

.feed-container h1 {
    margin-bottom: 30px;
    color: #4e8098;
}

/* ================= POSTS ================= */

.post-viagem {
    background-color: #fcf7f8;
    border-left: 5px solid #90c2e7;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 4px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.post-viagem:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.12);
        border-left-color: #4e8098;

}

.post-header h2 {
    color: #a31621;
    margin-bottom: 5px;
}

.post-header .autor a {
    color: #4e8098;
    text-decoration: none;
    font-size: 0.9rem;
}

.post-header .autor a:hover {
    text-decoration: underline;
}

.post-detalhes p {
    margin: 8px 0;
    font-size: 0.95rem;
}

.post-detalhes a {
    color: #4e8098;
    font-weight: 500;
    text-decoration: none;
}

.post-detalhes a:hover {
    text-decoration: underline;
}

.post-interacoes {
    margin-top: 10px;
    font-size: 0.85rem;
    color: #555;
}


/* ================= FOOTER ================= */

footer {
    background-color: #4e8098;
    color: #fcf7f8;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
