/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #fcf7f8;
    color: var(--texto-escuro);
    line-height: 1.6;
}

/* ================= HEADER ================= */

header {
    background-color: #4e8098;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.6rem;
    font-weight: bold;
    color: var #fcf7f8;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #fcf7f8;
    text-decoration: none;
    font-size: 0.95rem;
}

/* BOTÕES */

.btn-login {
    padding: 6px 14px;
    border: 1px solid #fcf7f8;
    border-radius: 4px;
}



.btn-signup {
    padding: 6px 14px;
    background-color: #a31621;
    border-radius: 4px;
}

/* ================= MAIN ================= */

main {
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 20px;
}

/* ================= HERO ================= */

.hero {
    background-color: #ced3dc;
    padding: 50px 40px;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 40px;
}

.hero h1 {
    color: #4e8098;
    margin-bottom: 15px;
}

.hero p {
    color: #444;
    margin-bottom: 25px;
}

.btn-cta {
    background-color: #a31621;
    color: #fcf7f8;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 4px;
}

/* ================= DESTAQUES ================= */

.destaques {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 6px;
}

.destaques h2 {
    color: #4e8098;
    margin-bottom: 25px;
}

/* ================= CARTÕES ================= */

.cartoes-viagem {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.cartao {
    background-color: #fcf7f8;
    border-left: 5px solid #90c2e7;
    padding: 20px;
    border-radius: 4px;
}

.cartao h3 {
    color: #a31621;
}

.cartao p {
    font-size: 0.9rem;
}

.cartao .destino {
    color: #4e8098;
    font-style: italic;
}

.cartao a {
    color: #4e8098;
    font-weight: 500;
    text-decoration: none;
}

/* ================= FOOTER ================= */

footer {
    background-color: #4e8098;
    color: #fcf7f8;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

/* ================= RESPONSIVO ================= */

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        gap: 15px;
    }

    nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }
}